.background img{
  width:100%;
  height: auto;
  position: fixed;
  top:0;
  left:0;
  background-size: cover;
}

.container#app {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  margin-top:60px;
}