//------------------------Style of the background image---------------
.background img{
  width:100%;
  height: auto;
  position: fixed;
  top:0;
  left:0;
  background-size: cover;
}

.mobile-picutre{
  display:none;
}

.container1 {
  position: relative;
}

@media screen and (max-width: 800px) {

  .pc-picture{
    display:none;
  }
  
  .mobile-picutre{
    display:block;
  }
}