$blue: #3498db;
$dark-blue: #2980b9;
$black: #2c3e50;
$white: #ecf0f1;
$pale-white: #d1d8e0;
$pale-gray: #95a5a6;
$dark-gray: #7f8c8d;
$culoare-buton-principal:#1e1f5e;

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #d1d8e0;
}
//the box of login and register from the autenthification page
.form-group {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  label {
    color: black;
    margin-bottom: 5px;
  }

  .form-control {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $pale-white;
    border: none;
    transition: 0.3s ease-in-out;

    &:focus {
      outline: none;
      background-color: $white;
    }
  }
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #1e1f5e;
  color: $white;
  outline: none;
  border: none;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #2e31f0;
  }
}

