@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

$culoare-buton-principal:#1e1f5e;

.header {
  background-color: #ffffff;
  padding: 40px 10px;
  margin-top:-27px;
  margin-right:-8px;
  margin-left:-8px;
  position: relative;
}
.header a, .header-right .dropdown{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
  margin-top:-20px;
}
//---------------------------------------LOGO------------------------------
h1 {
  position: relative;
  font-family: 'Exo';
  font-size: 3em;
  margin-top: -0.5em;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
  margin-right:50%;
  
  &::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: 
      radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
  }
  
  span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
    margin-right: 50%;
  }
  
  span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 2.5em;
  margin-top: -3.5em;
  margin-left:1.5em;
  padding-bottom:3%;  
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

//--------------------------------------------------------------Links from header----------------------------------------------------
.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active{
  background-color: $culoare-buton-principal;
  color: white;
}

.header-right {
  float: right;
  margin-top:-2em;
}
.homt-btn i{
  font-size: 12pt;
}
.menu-wrap{
  display:none;
}
//---------------------------------------------------------USER DROPDOWN------------------------------------------------------------
.dropbtn {
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding:10%;
  margin-top:0.5em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropwdown-links {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropwdown-links:hover {background-color: transparent;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
//-------------------------------NOTIFICATION-------------------------------
.header-right .bell-icon{
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px; 
  margin-top:-25px;
}
.bell-icon {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  svg {
    margin: auto;
    position: relative;
    right: 2%;
    width: 80%;
    height: 80%;
    stroke: rgba(0, 0, 0, 0.75);
  }
  .bell-icon__group {
    transform-origin: 50% 2px;
    transform: rotate(-8deg);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  .bell-icon__ball {
    transform-origin: 50% 2px;
    transform: translateX(-6.5%);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  &:focus,
  &:hover {
    outline: none;
    .bell-icon__group {
      animation: animateGroup 2.3s;
    }
    .bell-icon__ball {
      animation: animateBall 2.3s;
    }
    .notification-amount {
      opacity: 1;
      visibility: visible;
      &::before {
        animation-name: bounce;
        animation-delay: 450ms;
      }
    }
  }
}

.notification-amount {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20%;
  right: 24%;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Copse", serif;
  font-size: 12px;
  span {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f72918;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
    animation-duration: 800ms;
    animation-fill-mode: both;
  }
}

$frameLength: 0.8771;

@keyframes animateGroup {
  0%,
  100% {
    transform: rotate(-8deg);
  }
  #{$frameLength * 20%} {
    transform: rotate(0deg);
  }
  #{$frameLength * 40%} {
    transform: rotate(-20deg);
  }
  #{$frameLength * 55%} {
    transform: rotate(20deg);
  }
  #{$frameLength * 65%} {
    transform: rotate(-20deg);
  }
  #{$frameLength * 74%} {
    transform: rotate(8deg);
  }
  #{$frameLength * 85%} {
    transform: rotate(-15deg);
  }
  #{$frameLength * 90%} {
    transform: rotate(-7deg);
  }
}

@keyframes animateBall {
  0%,
  100% {
    transform: translateX(-6.5%);
  }
  #{$frameLength * 20%} {
    transform: translateX(0%);
  }
  #{$frameLength * 25%} {
    transform: translateX(-1%);
  }
  #{$frameLength * 40%} {
    transform: translateX(11%);
  }
  #{$frameLength * 55%} {
    transform: translateX(-11%);
  }
  #{$frameLength * 60%} {
    transform: translateX(0%);
  }
  #{$frameLength * 68%} {
    transform: translateX(10%);
  }
  #{$frameLength * 78%} {
    transform: translateX(-11%);
  }
  #{$frameLength * 90%} {
    transform: translateX(11%);
  }
  #{$frameLength * 98%} {
    transform: translateX(-11%);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  14% {
    transform: scale(1.15);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.15);
  }

  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
//----------------------------END NOTIFICATION------------------------
//-------------SEARCH BAR----------------------
/* Style the search field */
.page-content{
  width:100%;
  height:100%;
  position: relative;
}
.page-content form{
  display:flex;
  justify-content: center;
  margin-top:20px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 3px solid rgb(0, 0, 0);
  border-radius:25px;
  float: left;
  background: #ffffff;
  outline:none;
}

/* Style the submit button */
form.example button {
  float: left;
  color: white;
  font-size: 35px;
  background-color: transparent;
  border-color:transparent;
  cursor: pointer;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
//----------------------END SEARCH BAR----------------------------

@media screen and (max-width: 800px) {

  .header-right{
    display:none;
  }//the menu disapears
  h1{
    margin-top:-0.5em;
    margin-left:2.5em;
  }
  h2{
    margin-top:-1.7em;
    padding-bottom:0;
    margin-left:3.5em;
  }
  /*----------------------------Hamburger Menu-------------------*/
  .menu-wrap{
    display:block;
  }
  .menu-wrap{
    position: fixed;
    top: 0;
    right: 85px;
    z-index: 2;
  }
  .toggler{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 70px;
    height: 70px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  .hamburger{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 70px;
    height: 70px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:none;
  }
  .hamburger>div{
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    transition: .4s;
  }
  .hamburger>div:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    top: -10px;
    left: 0;
    transition: .4s;
  }
  .hamburger>div:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    top: 10px;
    left: 0;
    transition: .4s;
  } 
  .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
  }
  .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
  }
  .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
    top: 0;
    transform: rotate(90deg);
  }
  .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: .6s;
    font-family: "Montserrat", sans-serif;
    font-size:50pt;
  }
  .menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
  }
  .menu > div > div{
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: .6s;
  }
  .menu > div > div > ul > li{
    list-style: none;
  }
  .menu > div > div > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 550;
    text-transform: uppercase;
    margin: .5rem;
    transition: .3s;
    font-size: 20pt;
    display: inline-block;
  }
  .menu > div > div > ul > li > a:hover{
    color: rgb(209, 199, 199);
  }

  .toggler:checked ~ .menu{
    visibility: visible;
  }

  .toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-50%);
  }

  .toggler:checked ~ .menu > div > div{
    opacity: 1;
  }
}